<app-survey-create-form-head
  *ngIf="page < 0; else qg" [form]="$any(formGroup)"
  (submit)="page = page+1"
></app-survey-create-form-head>
<ng-template #qg>
  <app-survey-create-form-page
    [questionGroup]="formGroup!.controls.questionGroups.at(page)"
    [lastPage]="page+1 == formGroup!.controls.questionGroups.length"
    [onlyPage]="formGroup!.controls.questionGroups.length <= 1"
    (onSubmit)="advanceForm($event)"
    (remove)="removeGroup()"
    (revert)="page = page-1"
  ></app-survey-create-form-page>
</ng-template>

<div class="bottomSpace">
  <div class="left">
    <a mat-raised-button color="primary" routerLink="..">Abbrechen</a>
  </div>
  <div class="middle"></div>
  <div class="right">
    <button mat-raised-button color="primary" type="button" (click)="submit(true)" [disabled]="!!formGroup?.invalid">
      Vorschau
    </button>
    <button mat-raised-button color="primary" type="button" (click)="submit()" [disabled]="!!formGroup?.invalid">
      Fertig
    </button>
  </div>
</div>