.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-overview-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 50px;
}

.profile-info-type {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.profile-info {
  font-size: 18px;
  text-align: left;
}

.edit-choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.mat-raised-button {
  height: 36px;
  min-width: 88px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  border-radius: 4px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);

}

.mat-raised-button:hover, .mat-raised-button:focus {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
}

.button {
  margin: 15px;
  width: fit-content;
  display: block;
}

