<div class="confirm-choice-container" [ngSwitch]="choiceOption">
  <div *ngSwitchCase="0">
    <p>Sind Sie sicher, dass Sie die Beteiligungsgrenze
      versenken möchten?</p>
    <p>Die geplante Änderungen werden alle bisherige Teilnehmer entfernen</p>
  </div>
  <div style="display: inline-block">
    <button class="choice-button" mat-raised-button color="warn" (click)="discardChanges()">Änderungen verwerfen
    </button>
    <button class="choice-button" mat-raised-button color="primary" (click)="confirmChanges()">Änderungen bestätigen
    </button>
  </div>
</div>