<ng-template [ngIf]="choiceOption === 0">
  <p mat-dialog-title>
    Sind Sie sicher, dass Sie die Beteiligungsgrenze senken möchten?
  </p>
  <mat-dialog-content class="confirm-choice-container">
    <p>Die geplanten Änderungen werden alle bisherige Teilnehmenden entfernen</p>
  </mat-dialog-content>
</ng-template>
<mat-dialog-actions>
  <button class="choice-button" mat-raised-button color="warn" [mat-dialog-close]="false">Änderungen verwerfen
  </button>
  <button class="choice-button" mat-raised-button color="primary" [mat-dialog-close]="true">Änderungen bestätigen
  </button>
</mat-dialog-actions>