.rating {
    margin-left: 1rem;
}

mat-form-field {
    display: block;
}

form {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

mat-icon {
    cursor: pointer;
}