<div>
  <label>Bitte wählen Sie die Tage an denen ein Event geplant ist</label>
</div>
<div>
  <mat-card class="calendar-card">
    <mat-calendar #calendar
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  (selectedChange)="select($event, calendar)"
                  [dateClass]="isSelected">
    </mat-calendar>
  </mat-card>
  <div>
    <button
      mat-raised-button
      (click)="backPage()">Zurück
    </button>
    <button  [disabled]="!isPageValid"
             class="right"
             type="button"
             color="primary"
             mat-raised-button
             (click)="nextPage()">Weiter
    </button>
  </div>
</div>
