<h3>Konfigurationseinstellungen</h3>
<div class="left-bound">
    <span>Über was soll abgestimmt werden? (min. 1)</span>
    <div [formGroup]="configForm">
      <br>
        <mat-checkbox
          formControlName="isDateChecked"
          color="primary"
        >Datum
        </mat-checkbox>
      <br>
        <mat-checkbox
          formControlName="isTimeChecked"
          color="primary"
        >Uhrzeit
        </mat-checkbox>
      <br>
        <mat-checkbox
          formControlName="isEndDateChecked"
          color="primary"
        >Enddatum
        </mat-checkbox>
      <br>
        <mat-checkbox
          formControlName="isEndTimeChecked"
          color="primary"
        >Enduhrzeit
        </mat-checkbox>
      <br>
        <mat-checkbox
          formControlName="isDescriptionChecked"
          color="primary"
        >Beschreibung
        </mat-checkbox>
      <br>
        <mat-checkbox
          formControlName="isUrlChecked"
          color="primary"
        >Link
        </mat-checkbox>
    </div>
  <div class="navigate-submit-multiple-button-space">
    <button
      class="left-aligned-button"
      mat-icon-button
      routerLink="../general"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button
      [disabled]="this.configForm.invalid"
      class="right-aligned-button"
      type="button"
      color="primary"
      mat-icon-button
      (click)="nextPage()"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>