<div class="center">
  <h2 *ngIf="isPreview">Vorschau</h2>
  <div class="left-bound">
    <h2 class="mat-card-title" style="align-self: center" [textContent]="vote?.title"></h2>
    <p [textContent]="vote?.description"></p>
    <p class="mat-card-subtitle">
      Abstimmung aktiv bis einschließlich: {{ vote?.deadline! | date:'dd MMMM yyyy':undefined:'de' }}
    </p>
    <p class="mat-card-subtitle" *ngIf="hasDeadlinePassed()">
      <span class="mat-error">Die Abstimmung ist abgelaufen. Eine Teilnahme ist nicht mehr möglich</span>
    </p>
    <p class="mat-card-subtitle" *ngIf="vote?.organizerName">
      Erstellt von {{ vote!.organizerName }}
    </p>
  </div>
  <mat-expansion-panel style="max-width:80vw; margin-top: 20px; margin-bottom: 20px; align-self: center">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Teilnehmer : {{ vote?.participants?.length }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list *ngFor="let participant of (this.vote?.participants || [])">
        <span class="participant-list-item">
          <div class="participant-name">
            <mat-icon *ngIf="participant.userId" class="user-icon">person</mat-icon>
            <div style="align-self: end">{{ participant.name }}</div>
          </div>
          <div
            *ngIf="!hasDeadlinePassed() && (participant.userId === currentUser?.id)"
            class="member-button"
          >
            <button
              mat-icon-button
              [disabled]="isPreview"
              (click)="isPreview || editMember(participant, scrollTo)"
            >
              <mat-icon mat-list-icon>edit_square</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              [disabled]="isPreview"
              (click)="isPreview || deleteMember(participant)"
            >
              <mat-icon mat-list-icon>delete</mat-icon>
            </button>
          </div>
        </span>
    </mat-list>
  </mat-expansion-panel>
  <mat-form-field *ngIf="!hasDeadlinePassed()" appearance="fill" style="align-self: center">
    <mat-label>Name</mat-label>
    <input
      [(ngModel)]="voteParticipant.name"
      required
      maxlength="100"
      someNonWhitespace
      matInput
      [disabled]="isPreview || !!currentUser"
      autocomplete="off"
      #nameField="ngModel"
    >
    <mat-error>{{ errorMessageService.genericFormError(nameField.control) }}</mat-error>
  </mat-form-field>
  <div *ngIf="!hasDeadlinePassed()" class="left-bound" style="margin-bottom: 1rem">
    <p *ngIf="vote.voteConfig.yesLimitActive">Bei dieser Anfrage dürfen Sie zu
      maximal {{ vote.voteConfig.yesAnswerLimit! }} Optionen zustimmen</p>
    <div
      #scrollTo
      *ngFor="let option of (vote?.options ?? []); let voteIndex=index" class="option-container"
    >
      <div style="min-width: 50%; max-width: 50%">
        <span>{{ option.startDate | date:'dd.MM.yyyy' + (vote!.voteConfig.voteOptionConfig.startTime ? ' HH:mm' : ''):undefined:'de' }}</span>
        <span *ngIf="option.endDate">
          {{ option.endDate | date:'- dd.MM.yyyy' + (vote!.voteConfig.voteOptionConfig.endTime ? ' HH:mm' : ''):undefined:'de' }}
        </span>
        <div class="break-text">{{ option.description || '' }}</div>
        <span>
          <a
            *ngIf="option.url"
            [href]="option.url"
          >Link</a>
        </span>
      </div>
      <div>
        <button
          mat-icon-button
          class="verticalCenter"
          (click)="openDialog(option)"
        >
          <mat-icon>info</mat-icon>
        </button>
        <span style="margin-right: 1rex" class="verticalCenter" [textContent]="countParticipants(option)"></span>
        <mat-form-field
          *ngIf="vote?.voteConfig?.decisionType === DecisionType.NUMBER; else decisionComplex"
          appearance="fill"
          style="max-width: 8vw;"
        >
          <mat-label>Teilnehmerzahl</mat-label>
          <input
            type="text"
            inputmode="numeric"
            min="0"
            required
            integer
            matInput
            [ngModel]="voteParticipant!.decisions[voteIndex]?.participants"
            (ngModelChange)="setParticipantNumber(option, $event)"
            (focusout)="checkEnteredValue(voteIndex,participant)"
            mat-line
            [disabled]="isPreview"
            #participant
            #participantField="ngModel"
          >
          <mat-error>{{ errorMessageService.genericFormError(participantField.control) }}</mat-error>
        </mat-form-field>
        <ng-template #decisionComplex>
          <mat-button-toggle
            *ngIf="decisionDescription(option) as desc"
            [class]="desc.class"
            [matTooltip]="desc.tooltip || ''"
            matTooltipPosition="above"
            (click)="isPreview || hasDeadlinePassed() || cycleDecision(option); selectionButton.checked = false"
            [disabled]="!!desc.disabled"
            #selectionButton
          >
            <mat-icon>{{ desc.icon || "" }}</mat-icon>
          </mat-button-toggle>
        </ng-template>
      </div>
    </div>
    <div class="fill-width" *ngIf="!isPreview; else previewButtons">
      <div class="vote-button-container">
        <mat-spinner *ngIf="submitBusy" diameter="24" class="button-spinner"></mat-spinner>
        <button
          *ngIf="!hasDeadlinePassed()"
          class="vote-button"
          type="submit"
          color="primary"
          mat-raised-button
          (click)="saveVote()"
        >{{ isEditMember ? 'Updaten' : 'Abstimmen' }}
        </button>
        <button mat-raised-button [routerLink]="['./results']">
          Ergebnisse ansehen
        </button>
      </div>
    </div>
    <ng-template #previewButtons class="fill-width">
      <div class="navigate-submit-multiple-button-space">
        <a
          mat-raised-button
          routerLink="../email"
        >
          <mat-icon>navigate_before</mat-icon>
        </a>
        <a
          type="submit"
          color="primary"
          mat-raised-button
          [disabled]="busy"
          (click)="acceptPreview()"
        >
          Fertig
        </a>
      </div>
    </ng-template>
  </div>
</div>
