@use 'src/colors';

:has(>.center,>.right) {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto minmax(min-content, max-content);
}

.left, .center, .right {
  align-self: center;
  border-top: 1rem;
  border-bottom: 1rem;
}

.left {
  grid-column: 1;
}

.center {
  grid-column: 2;
}

.right {
  grid-column: 3;
}

.break-text {
  word-break: break-word;
}

.fill-width {
  width: 100%;
}

.vote-button-container {
  float: right;
  padding-top: 20px;
  display: flex;
}

.vote-change-button {
  margin-top: 20px;
}

.back-button {
  margin-top: 20px;
}

::ng-deep .member {
  > span {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
}

.member-button {
  min-width: max-content;
}

.icon-name {
  display: flex;
  align-items: center;
}

.user-icon {
  padding-right: 10px;
}

.topspace {
  margin-top: 1rem;
}

.checkedAccept {
  background-color: limegreen;
  color: white;
}

.checkedAcceptIfNecessary {
  background-color: colors.$iks-yellow;
  color: white;
}

.checkedDecline {
  background-color: colors.$iks-red;
  color: white;
}

.checkedNoAnswer {
  background-color: lightgray;
}

.checkedAccept, .checkedAcceptIfNecessary, .checkedDecline, .checkedNoAnswer {
  scale: 90%;
}

.option-container {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.participant-name {
  min-width: 80%;
  max-width: 80%;
  overflow-wrap: anywhere;
  display: flex;
}

.participant-list-item {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.participant-list {
  width: 80vw;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center
}