<form [formGroup]="form" (ngSubmit)="doSubmit(form.value, surveyCreateActions.nextGroup())">
  <div class="inputFieldWrapper">
    <mat-form-field class="unlimited" style="margin-top: 1em;" appearance="fill">
      <mat-label>Frageblocküberschrift</mat-label>
      <textarea cols="40" class="maxSize" type="text" matInput formControlName="title"></textarea>
      <mat-error [textContent]="errorMessageService.genericFormError(form.get('title'))"/>
    </mat-form-field>
  </div>
  <div formArrayName="questions" *ngrxLet="form.controls.questions as questions">
    <mat-card
      class="bottomspace" *ngFor="let question of questions.controls; index as j"
      [formGroupName]="j"
    >
      <mat-card-content>
        <mat-form-field class="unlimited">
          <mat-label>Frage {{ j + 1 }}</mat-label>
          <input type="text" matInput formControlName="text">
          <mat-error [textContent]="errorMessageService.genericFormError(form.get(['questions', j, 'text']))"/>
        </mat-form-field>
        <br>
        <mat-button-toggle-group formControlName="type">
          <mat-button-toggle value="OPEN">Freitext</mat-button-toggle>
          <mat-button-toggle value="CHOICE">Auswahl</mat-button-toggle>
          <mat-button-toggle value="ORDER">Reihenfolge</mat-button-toggle>
        </mat-button-toggle-group>
        <br>
        @switch (question.controls.type.value) {
          @case ('OPEN') {
            <mat-checkbox formControlName="required">Erforderlich</mat-checkbox>
          }
          @case ('CHOICE') {
            <h3 style="font-weight: normal">Antwortmöglichkeiten</h3>
            <mat-card-content>
              <mat-form-field>
                <mat-label>Minimale Auswahlanzahl</mat-label>
                <input type="text" inputmode="numeric" matInput formControlName="minSelect">
                <mat-error [textContent]="errorMessageService.genericFormError(form.get(['questions', j, 'minSelect']))"/>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Maximale Auswahlanzahl</mat-label>
                <input type="text" inputmode="numeric" matInput formControlName="maxSelect">
                <mat-error [textContent]="errorMessageService.genericFormError(form.get(['questions', j, 'maxSelect']))"/>
              </mat-form-field>
              <div formArrayName="choices">
                <div
                  class="bottomspace answerGrid"
                  *ngFor="let checkbox of question.controls.choices.controls; index as k" [formGroupName]="k"
                >
                  <mat-form-field class=" inline-unlimited answerField">
                    <mat-label>Antwortmöglichkeit {{ k + 1 }}</mat-label>
                    <input type="text" matInput formControlName="text">
                    <mat-error [textContent]="errorMessageService.genericFormError(form.get(['questions', j, 'choices', k, 'text']))"/>
                  </mat-form-field>
                  <button
                    mat-icon-button
                    color="warn"
                    class="answerDelete"
                    type="button"
                    (click)="question.controls.choices.removeAt(k);
                      question.get(['minSelect'])?.updateValueAndValidity();
                      question.get(['maxSelect'])?.updateValueAndValidity()"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <br>
                  <mat-checkbox class="answerCheckbox" formControlName="hasTextField">Freitext</mat-checkbox>
                </div>
              </div>
            </mat-card-content>
          }
          @case ('ORDER') {
            <h3 style="font-weight: normal">Antwortmöglichkeiten</h3>
            <mat-card-content>
              
              <div formArrayName="choices">
                <div
                  class="bottomspace answerGrid"
                  *ngFor="let checkbox of question.controls.choices.controls; index as k" [formGroupName]="k"
                >
                  <mat-form-field class=" inline-unlimited answerField">
                    <mat-label>Antwortmöglichkeit {{ k + 1 }}</mat-label>
                    <input type="text" matInput formControlName="text">
                    <mat-error [textContent]="errorMessageService.genericFormError(form.get(['questions', j, 'choices', k, 'text']))"/>
                  </mat-form-field>
                  <button
                    mat-icon-button
                    color="warn"
                    class="answerDelete"
                    type="button"
                    (click)="question.controls.choices.removeAt(k)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card-content>
          }
        }
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-icon-button color="warn" type="button" [disabled]="questions.length <= 1"
          (click)="questions.removeAt(j)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          *ngIf="question.controls.type.value != 'OPEN'"
          mat-icon-button color="primary" type="button"
            (click)="question.controls.choices.push(createCheckbox(question.controls.type));
            question.get(['checkboxGroup', 'minSelect'])?.updateValueAndValidity();
            question.get(['checkboxGroup', 'maxSelect'])?.updateValueAndValidity()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <div style="display: flex;">
      <div style="flex: 2;"></div>
      <button
        mat-mini-fab color="primary" type="button"
        (click)="questions.push(createQuestion())"
      >
        <mat-icon>add</mat-icon>
      </button>
      <div style="flex: 2;"></div>
    </div>
  </div>
  <div style="display: flex; margin-bottom: 1ex;">
    <button
      type="button" mat-icon-button
      (click)="form.invalid || doSubmit(form.value, surveyCreateActions.previousGroup())">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <div style="flex: 2;"></div>
    <button
      type="submit" mat-icon-button color="primary"
      [disabled]="(lastPage$ | ngrxPush) || form!.invalid"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  <div style="display: flex;">
    <button
      mat-icon-button color="warn" type="button" [disabled]="onlyPage$ | ngrxPush"
      (click)="remove()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <div style="flex: 2;"></div>
    <button
      mat-icon-button color="primary" type="button"
      (click)="form.invalid || doSubmit(form.value, surveyCreateActions.insertGroup())"
      [disabled]="form!.invalid"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>