<div class="content">
  <div>
    <h1 class="headline">Profile Bearbeiten</h1>
  </div>
  <form class="displayName">
    <mat-form-field appearance="fill">
      <mat-label>Anzeigename</mat-label>
      <input matInput [placeholder]="userData?.displayname || ''"
             autocomplete=off
             [formControl]="displayNameField"
      >
      <mat-error>{{errorMessageService.genericFormError(displayNameField)}}</mat-error>
    </mat-form-field>
    <!--  <button type="button" class="submit-button" mat-raised-button color="primary"  [disabled]="displayNameField.invalid" (click)="changeDisplayName()">Ändern</button>-->
  </form>
  <form class="mail">
    <mat-form-field appearance="fill">
      <mat-label>Mail</mat-label>
      <input matInput [textContent]="userData?.mail || ''"
             autocomplete=off
             [formControl]="emailField">
      <mat-error>{{errorMessageService.genericFormError(emailField)}}</mat-error>
    </mat-form-field>
    <!--    <button type="button" class="submit-button" mat-raised-button color="primary"  [disabled]="emailField.invalid" (click)="changeEmail()">Ändern</button>-->
  </form>
  <div>
    <button  mat-raised-button color="warn" style="margin: 10px"
             routerLink="/view-profile">Züruck
    </button>
    <button mat-raised-button color="primary"
            [disabled]="displayNameField.invalid || emailField.invalid" style="margin: 10px" (click)="updateProfile()">
      Speichern
    </button>
    <!--    <button type="button" mat-raised-button color="primary" routerLink="/change-password">Password ändern</button>-->
    <!--    <button type="button" mat-raised-button color="warn" routerLink="/delete-profile">Profil löschen</button>-->
  </div>
</div>
