<div class="content">
<div>
    <h2 class="header">Profile</h2>
</div>
<form class="displayName"  (submit)="changeDisplayName()">
  <mat-form-field appearance="fill" >
    <mat-label>{{setDisplayName()}}</mat-label>
    <input matInput placeholder= {{setDisplayName()}}
                    autocomplete=off
                    [formControl]="displayNameField">
    <mat-error *ngIf="displayNameField.invalid">{{errorMessageService.genericFormError(displayNameField)}}</mat-error>
  </mat-form-field>
  <button type="button" class="submit-button" mat-raised-button color="primary"  [disabled]="displayNameField.invalid" (click)="changeDisplayName()">Ändern</button>
</form>
  <form class="mail" (submit)=(changeEmail())>
    <mat-form-field appearance="fill">
      <mat-label>{{setEmail()}}</mat-label>
      <input matInput placeholder={{setEmail()}}
                      autocomplete=off
                      [formControl]="emailField">
      <mat-error *ngIf="emailField.invalid">{{errorMessageService.genericFormError(displayNameField)}}</mat-error>
    </mat-form-field>
    <button type="button" class="submit-button" mat-raised-button color="primary"  [disabled]="emailField.invalid" (click)="changeEmail()">Ändern</button>
  </form>
  <div>
    <button type="button" mat-raised-button color="primary" (click)="redirect()">Password ändern</button>
    <button type="button" mat-raised-button color="warn" routerLink="/delete-profile">Profil löschen</button>
  </div>
</div>
