.wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 40px;
}

.right {
  float: right;
}
