<div class="center">
  <form *ngrxLet="{questionGroup: questionGroup$, answers: answers$} as store" (ngSubmit)="submit(form)" #form="ngForm">
    <div
      style="margin-bottom: 1ex"
      *ngFor="let question of store.questionGroup.questions; let i = index"
      [ngModelGroup]="''+question.rank!"
      #modelQuestionGroup="ngModelGroup"
    >
      <h3 [textContent]="question.text"></h3>
      <div>
        <input type="hidden" name="questionId" [ngModel]="question.id">
        <ng-container [ngSwitch]="question.type">
          <mat-form-field *ngSwitchCase="'OPEN'" appearance="fill">
            <mat-label>Antwort</mat-label>
            <input
              type="text"
              [ngModel]="store.answers?.[i]?.text"
              name="text"
              [required]="question.required!"
              someNonWhitespace
              maxlength="1500"
              matInput
              #answerText="ngModel"
            >
            <mat-error>{{errorMessageService.genericFormError(answerText.control)}}</mat-error>
          </mat-form-field>
          <ng-template [ngSwitchCase]="'CHOICE'">
            <div
              *ngIf="question.maxSelect! != 1 || question.minSelect != 1; else singleSelect"
              ngModelGroup="checkboxes"
              [checkboxCountMin]="question.minSelect!"
              [checkboxCountMax]="question.maxSelect!"
              #selectionGroup="ngModelGroup"
            >
              <ng-template ngFor [ngForOf]="question.choices" let-checkbox>
                <mat-checkbox
                  [ngModel]="store.answers?.[i]?.checkboxes?.[checkbox.id!]"
                  [name]="''+checkbox.id!"
                  value="true"
                >
                  {{checkbox.text}}
                </mat-checkbox>
                <br>
              </ng-template>
              <mat-error *ngIf="selectionGroup.invalid && selectionGroup.dirty">
                Nur mindestens {{question.minSelect}} und maximal {{question.maxSelect}}
                auswählen.
              </mat-error>
            </div>
            <ng-template #singleSelect>
              <mat-radio-group [ngModel]="Object.keys(store.answers?.[i]?.checkboxes ?? {})[0]" [ngModelOptions]="{name: 'checkboxId'}" required>
                <ng-template ngFor [ngForOf]="question.choices" let-checkbox>
                  <mat-radio-button class="newLine" [value]="checkbox.id!">{{checkbox.text}}</mat-radio-button>
                  <br>
                </ng-template>
              </mat-radio-group>
            </ng-template>
            <mat-form-field *ngIf="hasTextField(question.choices!)" appearance="fill">
              <mat-label>Freitextantwort</mat-label>
              <input
                type="text"
                [ngModel]="store.answers?.[i]?.text"
                name="text"
                someNonWhitespace
                maxlength="1500"
                matInput
                [disabled]="disableTextField(question, modelQuestionGroup.control)"
                [required]="question.minSelect! > 0 && !disableTextField(question, modelQuestionGroup.control)"
                #answerText="ngModel"
              >
              <mat-error>{{errorMessageService.genericFormError(answerText.control)}}</mat-error>
            </mat-form-field>
            <br>
          </ng-template>
        </ng-container>
      </div>
    </div>
    <div>
      <button class="left" *ngIf="!(first$ | ngrxPush)" type="button" mat-icon-button (click)="revert(form)">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <div class="middle"></div>
      <button class="right" type="submit" mat-icon-button color="primary" [disabled]="!!form?.invalid || (last$ | ngrxPush)">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </form>
</div>