mat-radio-group mat-radio-button{
  white-space: break-spaces !important;
}

mat-form-field, form {
  width: 100%;
}

mat-expansion-panel.cdk-drag mat-expansion-panel-header {
  color: var(--mat-expansion-header-text-color);
}

mat-expansion-panel-header span {
  align-content: center;
}