<div>
  <div class="margin-top">
    <form *ngIf="formGroup" [formGroup]="formGroup">
      <div class="inputFieldWrapper">
        <mat-form-field class="mat-form-field-flex unlimited" appearance="fill">
          <mat-label>Umfragename</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error>{{ errorMessageService.genericFormError(formGroup!.get('name')) }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-form-field-flex unlimited" appearance="fill">
          <mat-label>Beschreibung</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error>{{ errorMessageService.genericFormError(formGroup.get('description')) }}</mat-error>
        </mat-form-field>
      </div>
      <mat-checkbox formControlName="anonymousParticipation"><span class="newLine">Erlaube anonyme Antworten</span>
      </mat-checkbox>
      <br><br>
      <mat-form-field class="mat-form-field-flex unlimited" appearance="fill">
        <mat-label>Von</mat-label>
        <input
          type="text"
          [mtxDatetimepicker]="startDate"
          [min]="minDate"
          matInput
          formControlName="startDate"
          required
        >
        <mtx-datetimepicker-toggle [for]="startDate" matSuffix></mtx-datetimepicker-toggle>
        <mtx-datetimepicker #startDate></mtx-datetimepicker>
        <mat-error>{{ errorMessageService.genericFormError(formGroup.get('startDate')) }}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="mat-form-field-flex unlimited" appearance="fill">
        <mat-label>Bis</mat-label>
        <input
          type="text"
          [min]="formGroup.controls.startDate.value ?? minDate"
          [mtxDatetimepicker]="endDate"
          matInput
          formControlName="endDate"
          required
        >
        <mtx-datetimepicker-toggle [for]="endDate" matSuffix></mtx-datetimepicker-toggle>
        <mtx-datetimepicker #endDate></mtx-datetimepicker>
        <mat-error>{{ errorMessageService.genericFormError(formGroup.get('endDate')) }}</mat-error>
      </mat-form-field>
      <br>
      <mat-checkbox formControlName="openAccess"><span class="newLine">Öffentliche Umfrage</span>
      </mat-checkbox>
      <br><br>
      <div class="nextContainer">
        <button
          type="button" mat-raised-button color="primary"
          (click)="submit.emit()"
          [disabled]="!headerComplete()"
        >
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>