<div class="form-container">
  <h1 class="headline">Hab pw vergessen hä?</h1>
  <form [formGroup]="forgotPasswordForm">
    <div class="email">
      <mat-form-field appearance="fill">
        <mat-label>E-Mail</mat-label>
        <input matInput
               placeholder="pat@example.com"
               [formControl]="mail">
        <mat-error *ngIf="mail.invalid">{{errorMessageService.genericFormError(mail)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="submit-container">
      <button class="submit-button"
              mat-raised-button
              color="primary"
              [disabled]="!forgotPasswordForm.valid"
              (click)="submit()">
        Abschicken
      </button>
    </div>
  </form>
</div>
