<div class="content">
  <h1 class="headline">Passwort vergessen</h1>
  <form *ngIf="!done; else ifDone" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
    <div class="email">
      <mat-form-field appearance="fill">
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControl]="mail"
        >
        <mat-error>{{ errorMessageService.genericFormError(mail) }}</mat-error>
      </mat-form-field>
    </div>
    <div class="submit-container">
      <button
        type="submit"
        class="submit-button"
        mat-raised-button
        color="primary"
        [loading]="busy"
        [disabled]="forgotPasswordForm.invalid"
      >
        Abschicken
      </button>
    </div>
  </form>
  <ng-template #ifDone>
    <p>Ein Link zum Zurücksetzen des Passwortes wurde an <strong [textContent]="mail.value"></strong> gesendet.</p>
  </ng-template>
</div>