<div *ngIf="survey" class="center">
  <div>
    <mat-card appearance="outlined" class="bottomspace">
      <mat-card-title>{{survey.name}}</mat-card-title>
      <mat-card-content>
        <p>{{survey.description}}</p>
        <app-date-range [startDate]="survey.startDate" [endDate]="survey.endDate"></app-date-range>
        <p>
          Teilnahme {{survey.openAccess ? "für Jeden" : "mit Einladung"}}
          {{survey.anonymousParticipation ?
          " anonym" :
          " mit Benutzerkonto"}}</p>
      </mat-card-content>
    </mat-card>
    <mat-divider class="bottomspace"></mat-divider>
  </div>
  <div class="size-div">
    <app-survey-form-page
      *ngIf="page < survey.questionGroups.length; else finished"
      [questionGroup]="survey.questionGroups[page]" [isFirst]="page==0"
      (onSubmit)="pageSubmit($event)"
      #surveyPage
    ></app-survey-form-page>
    <ng-template class="center" #finished>
      <h3 style="text-align: center">Fertig</h3>
      <div class="bottomSpace">
        <div class="left">
          <button
            class="left" mat-icon-button
            (click)="page = page-1"
          >
            <mat-icon>navigate_before</mat-icon>
          </button>
        </div>
        <div class="middle"></div>
        <div class="right">
          <button
            class="right" mat-raised-button color="primary"
            [loading]="delayedBusy$ | async"
            [disabled]="(isResponseValid | async) || (busy$ | async) ?? false"
            (click)="submit()"
          >Einreichen
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>