<h2 mat-dialog-title>Wie haben Sie Drumdibum bislang empfunden?</h2>
<mat-dialog-actions align="center" cdkTrapFocus>
  <button
    mat-icon-button
    cdkFocusRegionStart
    mat-dialog-close
    routerLink="/feedback"
    [queryParams]="{rating: 1, category, editToken, participationToken}"
  >
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
  </button>
  <button
    mat-icon-button
    mat-dialog-close
    routerLink="/feedback"
    [queryParams]="{rating: 2, category,editToken,participationToken}"
  >
    <mat-icon>sentiment_dissatisfied</mat-icon>
  </button>
  <button
    mat-icon-button
    mat-dialog-close
    routerLink="/feedback"
    [queryParams]="{rating: 3, category,editToken,participationToken}"
  >
    <mat-icon>sentiment_neutral</mat-icon>
  </button>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>sentiment_satisfied</mat-icon>
  </button>
  <button mat-icon-button cdkFocusInitial cdkFocusRegionEnd mat-dialog-close>
    <mat-icon>sentiment_very_satisfied</mat-icon>
  </button>
</mat-dialog-actions>