<div><h2>Wie haben Sie Drumdibum bislang empfunden?</h2>
  <span>
  <button
    mat-icon-button
    (click)="dialogRef.close()"
    routerLink="/feedback"
    [queryParams]="{rating: 1, category, editToken, participationToken}"
  >
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="dialogRef.close()"
    routerLink="/feedback"
    [queryParams]="{rating: 2, category,editToken,participationToken}"
  >
    <mat-icon>sentiment_dissatisfied</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="dialogRef.close()"
    routerLink="/feedback"
    [queryParams]="{rating: 3, category,editToken,participationToken}"
  >
    <mat-icon>sentiment_neutral</mat-icon>
  </button>
  <button mat-icon-button (click)="dialogRef.close()">
    <mat-icon>sentiment_satisfied</mat-icon>
  </button>
  <button mat-icon-button (click)="dialogRef.close()">
    <mat-icon>sentiment_very_satisfied</mat-icon>
  </button>
</span>
</div>