<mat-dialog-content>
  <h2 mat-dialog-title>Profil Änderungen bestätigen</h2>
  <div *ngIf="enterPassword; else confirmChanges" class="container">
    <mat-form-field class="form-field">
      <mat-label>Passwort eingeben</mat-label>
      <input matInput type="password" [formControl]="password">
      <mat-error [textContent]="errorMessagingService.genericFormError(password)"/>
    </mat-form-field>
  </div>
  <ng-template #confirmChanges>
    <div class="container">
      <span class="instruction">Bitte prüfen Sie, dass die Änderungen richtig sind.</span>
      <span class="profile-data">
      Anzeigename: {{ data.displayname }}
      </span>
      <span class="profile-data">
      Mail: {{ data.mail }}
      </span>
    </div>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <ng-template [ngIf]="enterPassword" [ngIfElse]="confirmActions">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!password.valid"
      (click)="confirmProfileChanges()"
    >
      Bestätigen
    </button>
  </ng-template>
  <ng-template #confirmActions>
    <button
      mat-raised-button
      (click)="enterPassword=true"
      color="primary"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </ng-template>
</mat-dialog-actions>