<form [formGroup]="emailSubform" class="left-bound">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        autocomplete="off"
        type="text"
        formControlName="name"
      >
      <mat-error>{{ errorMessageService.genericFormError(emailSubform.get('name')) }}</mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="!($isLoggedIn | async)" formGroupName="notificationSettings">
    <mat-checkbox formControlName="sendLinkMail">
      <span class="vote-email-option">Sende mir die Links in einer Email</span></mat-checkbox>
    <br>
    <mat-checkbox formControlName="notifyParticipation">
      <span class="vote-email-option">Informiere mich per Email über Teilnahmen</span>
    </mat-checkbox>
    <br>
    <mat-checkbox formControlName="notifyExpiration">
      <span class="vote-email-option">Informiere mich per Email über das Ende der Abstimmung</span>
    </mat-checkbox>
    <br>
    <mat-form-field *ngIf="$needsEmail | async" appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input
        matInput
        formControlName="recipientEmail"
      >
      <mat-error>{{ errorMessageService.genericFormError(emailSubform.get(['notificationSettings', 'recipientEmail'])) }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox><span class="vote-email-option">Für das nächste Mal speichern</span></mat-checkbox>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Personen per E-Mail einladen</mat-label>
      <mat-chip-grid #chipList>
        <mat-chip-row
          *ngFor="let group of groupList"
          (removed)="removeGroup(group)"
        >
          <mat-icon matChipAvatar>group</mat-icon>
          {{ group.name }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <mat-chip-row
          *ngFor="let contact of contactList"
          (removed)="removeContact(contact)"
        >
          <mat-icon matChipAvatar>person</mat-icon>
          <span>
            <span [textContent]="contact | displayName | async"></span>
          </span>
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <mat-chip-row
          *ngFor="let email of consigneeList"
          (removed)="remove(email)"
        >
          {{ email }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input
          placeholder="weitere E-Mails..."
          type="email"
          formControlName="consigneeList"
          email
          maxlength="60"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        >
      </mat-chip-grid>
      <button mat-icon-button matSuffix [matMenuTriggerFor]="groupMenu">
        <mat-icon>group_add</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf='!emailSubform.get("consigneeList")?.valid'>
      Bitte geben Sie gültige Emails an
    </mat-error>
  </div>
  <div>
    <div *ngIf="!isEditing && ($isLoggedIn | async)">
      <button
        *ngIf="!personaliseEmailActive; else personaliseEmailContainer"
        mat-raised-button
        class="personalise-email-button"
        color="primary"
        (click)="personaliseEmail()"
      >
        Einlaungstext personalisieren
      </button>
      <ng-template #personaliseEmailContainer>
        <mat-form-field appearance="fill">
          <mat-label>Personalisierte Nachricht</mat-label>
          <textarea
            matInput formControlName="personalisedInvitation"
          ></textarea>
        </mat-form-field>
        <div>
          <button
            class="personalise-email-button"
            mat-raised-button
            color="warn"
            (click)="personaliseEmail()"
          >Einladung Verwerfen
          </button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="navigate-submit-multiple-button-space">
    <button
      mat-icon-button
      routerLink="../configuration"
      (click)="setEmailForm()"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
    <div class="right">
      <button
        type="button"
        color="primary"
        mat-raised-button
        [disabled]="!emailSubform.valid"
        routerLink="../preview"
        (click)=setEmailForm()
      >Vorschau
      </button>
      <button
        type="button"
        color="primary"
        mat-raised-button
        [disabled]="!emailSubform.valid"
        (click)=sendEndOfVoteOption()
      >Fertig
      </button>
    </div>
  </div>
</form>
<mat-menu #groupMenu>
  <button
    *ngFor="let group of ((allGroups$ | async) ?? [])"
    mat-menu-item
    [matMenuTriggerFor]="contactSubmenu"
    [matMenuTriggerData]="{group}"
  >
    <mat-icon>group</mat-icon>
    <span [textContent]="group.name"></span>
  </button>
  <button
    *ngIf="(ungrouped$ | async)?.length"
    mat-menu-item
    [matMenuTriggerFor]="contactSubmenu"
    [matMenuTriggerData]="{group:{contacts:(ungrouped$ | async)}}"
  >
    Gruppenlos
  </button>
</mat-menu>

<mat-menu #contactSubmenu>
  <ng-template matMenuContent let-group="group">
    <button mat-menu-item *ngIf="group.id" (click)="addGroup(group)">
      <mat-icon>group_add</mat-icon>
      Gruppe Einladen
    </button>
    <button mat-menu-item *ngFor="let contact of group.contacts" (click)="addContact(contact)">
      <mat-icon>person_add_alt</mat-icon>
      <span>
        <span [textContent]="contact | displayName | async"></span>
      </span>
    </button>
  </ng-template>
</mat-menu>