.right > button + button {
    margin-left: 20px;
}

.personalise-email-button {
    margin-left: auto;
    margin-bottom: 20px;
}

.vote-email-option {
    text-wrap: balance;
    margin-bottom: 5px;
}