.side-menu-title{
    text-decoration: none;
    color: white;
}

mat-sidenav-content {
    overflow: unset;
}

.bottom-links {
    position: absolute;
    bottom: 0.5em;
    padding-left: 0.5em;
}

.bottom-links a {
    font-size: smaller;
    color: darkgrey;
    margin-right: 0.5em;
}

.bottom-links>div {
    display: flex;
    flex-wrap: wrap;
}


.invertedPrimary ::ng-deep circle {
    stroke: white;
}