<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'over'">
    <mat-toolbar color="primary">drumdibum</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/create-vote" (click)="drawer.close()">Neue Abstimmung</a>
      <a *ngIf="!localstorageService.isLoggedIn()" mat-list-item routerLink="/register" (click)="drawer.close()">Registrieren</a>
      <a *ngIf="!localstorageService.isLoggedIn()" mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
      <a mat-list-item routerLink="/survey" (click)="drawer.close()">Dashboard</a>
      <a mat-list-item routerLink="/terms-and-conditions" (click)="drawer.close()">AGB</a>
      <a mat-list-item routerLink="/imprint" (click)="drawer.close()">Impressum</a>
      <a mat-list-item routerLink="/contact" (click)="drawer.close()">Kontakt</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>drumdibum</span>
      <span class="fillRemainingSpace" ></span>
      <button  (click)="onClick()" [matMenuTriggerFor]="menu" #trigger = "matMenuTrigger" class="loginIcon" mat-icon-button color="FFFFFF" aria-label="Example icon button with a home icon">
        <mat-icon>perm_identity</mat-icon>
        {{localstorageService.isLoggedIn() | displayName | async}}
        <!--dirty hack as there is no decent way to get accurate data about the logged in user through a service-->
      </button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item routerLink="/profile"><mat-icon>account_circle</mat-icon>Profil</button>
        <button mat-menu-item routerLink="/survey/own"><mat-icon>campaign</mat-icon>Dashboard</button>
        <button mat-menu-item routerLink="/" (click)="onLogout()"><mat-icon>logout</mat-icon>Logout</button>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
