<div class="wrapper">
  <a class="rightSpace" mat-raised-button color="primary" routerLink="../create">Umfrage Erstellen</a>
  <button mat-icon-button aria-label="Neu Laden" type="button" (click)="updateList()">
    <mat-icon>{{error ? 'sync_problem' : 'sync'}}</mat-icon>
  </button>
  <hr>
  <div>
    <mat-spinner *ngIf="busy; else done"></mat-spinner>
    <ng-template #done>
      <div *ngIf="error; else success">{{error | json}}</div>
      <ng-template #success>
        <mat-card class="bottomSpace" *ngFor="let survey of surveys">
          <mat-card-title>{{survey.name}}</mat-card-title>
          <mat-card-content>{{survey.description}}</mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary"
              [routerLink]="['..','participate',survey.participationId]">Teilnehmen</a>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </ng-template>
  </div>
</div>