<div class="centered">
  <div>
    <a class="button" mat-raised-button color="primary" routerLink="../create">Erstellen</a>
    <button mat-raised-button aria-label="Neu Laden" [disabled]="busy" type="button"
            (click)="updateList()">
      <mat-icon>{{error ? 'sync_problem' : 'sync'}}</mat-icon>
    </button>
  </div>
  <div>
    <h2>Umfragen</h2>
  </div>
  <div class="width">
    <mat-spinner *ngIf="busy; else done"></mat-spinner>
    <ng-template #done>
      <div *ngIf="error; else success">Fehler beim laden der Umfragen</div>
      <ng-template #success>
        <mat-card class="bottomSpace" *ngFor="let survey of surveys">
          <mat-card-title>{{survey.name}}</mat-card-title>
          <mat-card-subtitle>Teilnahme: {{survey.startDate | date:'dd.LL.yyyy'}}
            - {{survey.endDate | date:'dd.LL.yyyy'}}</mat-card-subtitle>
          <mat-card-content>{{survey.description}}</mat-card-content>
          <mat-card-actions>
            <a *ngIf="!isOwn" mat-raised-button color="primary"
               [routerLink]="['..','participate',survey.participationId]">Teilnehmen</a>
            <a *ngIf="isOwn" mat-raised-button color="primary"
               [routerLink]="['..', 'access', survey.accessId]">Öffnen</a>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </ng-template>
  </div>
</div>
