.bottomSpace {
  margin-bottom: 1ex;
}

.centered{
  align-items: center;
  flex-direction: column;
}

.buttons {
    margin-top: 1rem;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons>*+* {
    margin-left: 1rem;
}

.buttons>* {
    max-height: 100%;
}

.button {
  width: 105px;
  margin-top: 1rem;
  margin-right: 1rem;

}