.bottomSpace {
  margin-bottom: 1ex;
}

.wrapper {
  padding: 1em;
}
.centered{
  align-items: center;
  flex-direction: column;
}
.button {
  width: 105px;
  margin-top: 1rem;
  margin-right: 1rem;

}
