/* You can add global styles to this file, and also import other style files */

@use "colors";

$md-primary: (
        50 : #e0eaef,
        100 : #b3ccd6,
        200 : #80aabb,
        300 : #4d87a0,
        400 : #266e8b,
        500 : #005477,
        600 : #004d6f,
        700 : #004364,
        800 : #003a5a,
        900 : #002947,
        A100 : #7bbcff,
        A200 : #48a2ff,
        A400 : #1588ff,
        A700 : #007bfb,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);
$md-warn: (
        50 : #f1e4e7,
        100 : #dbbbc3,
        200 : #c38e9b,
        300 : #ab6073,
        400 : #993e55,
        500 : #871c37,
        600 : #7f1931,
        700 : #74142a,
        800 : #6a1123,
        900 : #570916,
        A100 : #ff8b99,
        A200 : #ff586c,
        A400 : #ff253f,
        A700 : #ff0c28,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

/* For use in src/lib/core/theming/_palette.scss */

@use '@angular/material' as mat;

$primary-palette: mat.define-palette($md-primary);
$accent-palette: mat.define-palette(mat.$pink-palette);
$warn-palette: mat.define-palette($md-warn);

$my-theme: mat.define-light-theme($primary-palette, $accent-palette, $warn-palette);

@use "sass:map";
$my-corrected-theme: map.set(map.set($my-theme, foreground, text, rgba(colors.$iks-blue, 0.87)), foreground, secondary-text, rgba(colors.$iks-blue, 0.54));

@use "@ng-matero/extensions" as mtx;

@include mat.core($my-corrected-theme);
@include mat.all-component-colors($my-corrected-theme);

@include mtx.all-component-themes($my-corrected-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field {
  width: 80vw;
  max-width: 400px;
}

.mat-form-field.unlimited {
  display: block;
}

.mat-form-field.unlimited, .mat-form-field.inline-unlimited {
  max-width: unset;
}

.username {
  margin-top: 21.5px;
}

.links {
  display: flex;
  width: 80vw;
  max-width: 400px;
  justify-content: space-evenly;
}

.button {
  display: flex;
  justify-content: flex-end;
  width: 80vw;
  max-width: 400px;
  margin-top: 1rem;
  max-height: colors.$line-height;

  button #icon {
    max-height: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verticalCenter, .mat-icon-button.verticalCenter {
  margin-top: auto;
  margin-bottom: auto;
}

/*VoteOption*/


/*Survey */

.width {
  min-width: 400px;
  max-width: 80%;
}

.padded {
  margin: 2rem;
}

*:has(>.left,>.middle,>.right) {
  display: flex;
}

.left, .middle, .right {
  position: relative;
  display: inline-flex;
}

.left-align-text {
  text-align: left;
}

.middle {
  flex-grow: 1;
}

.right {
  text-align: right;
}

mat-spinner.button-spinner, mat-progress-spinner.button-spinner {
  margin: 6px;
  display: inline-block;
}

.mat-dialog-container {
  height: auto !important;
}

/* Main-Nav */

.sidenav-container {
  min-height: calc(100% - 64px);
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.fillRemainingSpace {
  flex: 1 1 auto;
}

.button-space {
  margin-top: 1rem;
}

.submit-button {
  margin-left: 1rem;
}

/* Homepage*/

.neue-abstimmung {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.logo {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

/* Legals*/

.inner {
  padding: 0 10px;
}

.legals-wrapper {
  //overflow-y: scroll;
  padding: 0 min(10%, 30%);
}

.centered {
  display: flex;
  text-align: center;
  justify-content: center;
}

.centerText {
  text-align: center;
}

.noWrap {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}


.mat-radio-label-content {
  white-space: break-spaces
}

@media(max-width: 500px) {
  .password-reset {
    display: block;
    padding: 5px;
    margin: auto;
    align-self: center;
  }
  .registration {
    display: block;
    padding-bottom: 5px;
    margin: auto;
    align-self: center;
  }
  .links {
    display: block;
    text-align: center;
  }
  .confirm-account {
    display: block;
    padding: 5px;
    margin: auto;
    align-self: center;
  }

}

.navigate-submit-multiple-button-space {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.navigate-forward-submit-button-space {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 100%;
}

.navigate-back-cancel-button-space {
  display: flex;
  justify-content: flex-start;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: left;
  padding-bottom: 20px;
}

.margin-top {
  margin-top: 1rem;
}

.left-bound {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

@media (min-width: 962px) {
  .left-bound {
    max-width: 400px;
    min-width: 400px;
  }
}

@media (max-width: 961px) {
  .left-bound {
    max-width: 80vw;
    min-width: 80vw;
  }
}