<div class="center">
  <mat-card appearance="outlined" *ngIf="survey">
    <mat-card-header>
      <mat-card-title [textContent]="survey.name"></mat-card-title>
      <mat-card-subtitle>
        <app-date-range [startDate]="survey.startDate" [endDate]="survey.endDate"></app-date-range>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p [textContent]="survey.description"></p>
      <p>
        Teilnahme
        {{ survey.openAccess ? "für Jeden" : "mit Einladung" }}
        {{ survey.anonymousParticipation ? "anonym" : "" }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button [routerLink]="['/survey','participate', survey.participationId]" target="_blank">
        <mat-icon>open_in_new</mat-icon>
      </a>
      <!--ugly workaround for missing angular feature-->
      <a style="display:none" [routerLink]="['/survey','participate', survey.participationId]" #participationLink></a>
      <button
        mat-icon-button
        (click)="clipboard.copy(participationLink.href); snackBars.open('Teilnahmelink Kopiert', 'OK')"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
      <a mat-icon-button color="primary" routerLink="edit" *ngIf="!expired">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button color="primary" routerLink="results" target="_blank">
        <mat-icon>analytics</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>