<div class="confirm-account-card">
  <h2 class="welcome-header">Herzlich Wilkommen!</h2>
  <div class="instruction-container">
    <p class="greeting">Hallo! Danke dass Sie sich bei uns angemeldet haben!</p>
    <p class="instruction"> Um die Anmeldungsprozess abzuschließen, müssen sie Ihre Email Addresse verifizieren.</p>
    <p class="instruction"> Eine Email wurde schon an der eingegebene Emailaddresse abgeschickt. </p>
    <p class="instruction">Bitte schauen Sie in deinem Inbox nach und folgen Sie die enthaltende Anweisungen um dein Konto zu bestätigen</p>
    <p class="instruction" style="font-weight: bold">Finden Sie nichts?</p>
    <p class="instruction">Klicken Sie den unteren Knopf, um zur Seite "Bestätigungsmail erneut schicken" zu navigieren.</p>
    <button mat-button color="primary" style="padding: 20px" (click)="navigateToResendConfirmationEmail()">Erneut schicken</button>
  </div>
</div>
