<div class="center">
  <div class="confirm-account-card">
    <h2 class="welcome-header">Herzlich Wilkommen!</h2>
    <div class="instruction-container">
      <p class="greeting">Hallo! Danke dass du dich bei drumdibum angemeldet hast!</p>
      <p class="instruction"> Um den Anmeldungsprozess abzuschließen, musst du deine E-Mail-Addresse verifizieren.</p>
      <p class="instruction"> Eine Email wurde schon an die angegebene E-Mail-Adresse geschickt. </p>
      <p class="instruction">Bitte schau in deiner Inbox nach und folge den enthaltende Anweisungen um dein
        Konto zu bestätigen</p>
      <p class="instruction" style="font-weight: bold">Findest du keine E-Mail?</p>
      <p class="instruction">Klicke auf den folgenden Button, um zur Seite "Bestätigungsmail erneut schicken" zu
        navigieren.</p>
      <button mat-button color="primary" style="padding: 20px" (click)="navigateToResendConfirmationEmail()">Erneut
        schicken
      </button>
    </div>
  </div>
</div>