<form [formGroup]="emailSubform">
<div>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput
           autocomplete="off"
           type="text"
           formControlName="name">
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>E-Mail</mat-label>
    <input matInput
           autocomplete="off"
           formControlName="email">
  </mat-form-field>
  <mat-error *ngIf="!emailSubform.get('email')?.valid && emailSubform.get('email')?.touched">Bitte geben Sie eine gültige Email an</mat-error>
</div>
<div>
  <mat-checkbox>Für das nächste Mal speichern</mat-checkbox>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Personen per E-Mail einladen</mat-label>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let email of emails"
                (removed)="remove(email)"
                (blur)="true">
        {{ email }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="weitere E-Mails..."
             formControlName='emailGroup'
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
  <mat-error *ngIf="!emailSubform.get('emailGroup')?.valid && emailSubform.get('emailGroup')?.touched">Bitte geben Sie gültige Emails an</mat-error>
</div>
</form>
