<form [formGroup]="emailSubform">
<div>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput
           autocomplete="off"
           type="text"
           formControlName="name">
    <mat-error>{{errorMessageService.genericFormError(emailSubform.get('name'))}}</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>E-Mail</mat-label>
    <input matInput
           autocomplete="off"
           formControlName="email">
    <mat-error>{{errorMessageService.genericFormError(emailSubform.get('email'))}}</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-checkbox>Für das nächste Mal speichern</mat-checkbox>
</div>
  <div>
    <mat-form-field appearance='fill'>
      <mat-label>Personen per E-Mail einladen</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor='let email of consigneeList'
                  (removed)='remove(email)'
                  (blur)='true'>
          {{ email }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder='weitere E-Mails...'
               type='email'
               formControlName='consigneeList'
               [matChipInputFor]='chipList'
               [matChipInputSeparatorKeyCodes]='separatorKeysCodes'
               (matChipInputTokenEnd)='add($event)'>
      </mat-chip-list>
    </mat-form-field>
    <mat-error *ngIf='!emailSubform.get("consigneeList")?.valid'>
      Bitte geben Sie gültige Emails an
    </mat-error>
  </div>
  <div>
    <button mat-raised-button
            routerLink="configuration">Zurück
    </button>
    <button class='next-button'
            type='button'
            color='primary'
            mat-raised-button
            [disabled]='!emailSubform.valid || busy'
            (click)=sendEndOfAppointment()>Fertig
    </button>
  </div>
</form>
