<div class="lds-ring" *ngIf="isLoading" ><div></div><div></div><div></div><div></div></div>
<form class="form-container" *ngIf="!isLoading" (submit)="login()">
  <div class="content">
    <div>
      <h2 class="header">Login</h2>
    </div>
    <div class="username">
      <mat-form-field appearance="fill">
        <mat-label>Benutzername/Email</mat-label>
        <input matInput placeholder="Benutzername/E-Mail"
               autocomplete="off"
               pattern="\S+"
               [formControl]="inputField"
               [errorStateMatcher]="errorStateMatcher">
        <mat-error *ngIf="inputField.invalid">{{inputFieldError()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="password">
      <mat-form-field appearance="fill">
        <mat-label>Passwort</mat-label>
        <input matInput [type]="hide ? 'password' : 'text' "
               placeholder="Password" [formControl]="password"
               [errorStateMatcher]="errorStateMatcher">
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="links">
      <a class="registration" routerLink="/register">Registrieren</a>
      <a class="passwordReset" routerLink="/forgot-password">Passwort vergessen</a>
    </div>
    <div class="button">
      <button type="button"  class="submit-button" mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">Login</button>
    </div>
  </div>
  <mat-error ></mat-error>
</form>
