<div class="content">
  <h1 class="headline">Bestätigungsemail erneut schicken</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="email">
      <mat-form-field appearance="fill">
        <mat-label>E-Mail</mat-label>
        <input matInput
               placeholder="pat@example.com"
               formControlName="email">
        <mat-error>{{errorMessageService.genericFormError(form.get('email')!)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="submit-container">
      <button type="submit"
              class="submit-button"
              mat-raised-button
              color="primary"
              [disabled]="form.invalid">
        Abschicken
      </button>
    </div>
  </form>
</div>
