<mat-card *ngIf="survey">
  <mat-card-content>
    <mat-stepper orientation="vertical" #stepper="matStepper">
     <mat-step *ngFor="let questionGroup of survey.questionGroups; index as page" [label]="questionGroup.title">
        <app-survey-form-page [preview]="true" [questionGroup]="questionGroup" [isFirst]="page==0" (onSubmit)="changePage(stepper, $event)">
        </app-survey-form-page>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit.emit()">
      Zurück
    </button>
    <button mat-raised-button color="primary" (click)="onSubmit.emit(survey)">
      Erstellen
    </button>
  </mat-card-actions>
</mat-card>