<div class="form-container">
  <h2 class="headline">Passwort ändern</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
    <div class="oldPassword">
      <mat-form-field appearance="fill">
        <mat-label>Altes Passwort</mat-label>
        <input matInput [type]="hideOldPassword ? 'password' : 'text'" [formControl]="oldPassword">
        <button type="button" mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
          <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>{{errorMessageService.genericFormError(oldPassword)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="newPassword">
      <mat-form-field appearance="fill">
        <mat-label>Neues Passwort</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" [formControl]="newPassword">
        <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>{{errorMessageService.genericFormError(newPassword)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="confirmPassword">
      <mat-form-field appearance="fill">
        <mat-label>Passwort wiederholen</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" [formControl]="confirmPassword">
        <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
          <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>{{errorMessageService.genericFormError(confirmPassword)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="submit-container">
      <button class="button" mat-raised-button color="warn" routerLink="/view-profile">
        Zurück
      </button>
      <button class="button" type="submit"  mat-raised-button color="primary" [disabled]="!changePasswordForm.valid">
        Speichern
      </button>
    </div>
  </form>
</div>
