<div class="center">
  <h1 class="headline">Passwort ändern</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="submit()" class="left-bound">
      <mat-form-field appearance="fill">
        <mat-label>Altes Passwort</mat-label>
        <input matInput [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword">
        <button type="button" mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" aria-label="Hide password" [attr.aria-pressed]="hideOldPassword">
          <mat-icon [textContent]="hideOldPassword ? 'visibility_off' : 'visibility'"/>
        </button>
        <mat-error [textContent]="errorMessageService.genericFormError(changePasswordForm.controls.oldPassword)"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Neues Passwort</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
        <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" aria-label="Hide password" [attr.aria-pressed]="hideNewPassword">
          <mat-icon [textContent]="hideNewPassword ? 'visibility_off' : 'visibility'"/>
        </button>
        <mat-error [textContent]="errorMessageService.genericFormError(changePasswordForm.controls.newPassword)"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Passwort wiederholen</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
        <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" aria-label="Hide password" [attr.aria-pressed]="hideConfirmPassword">
          <mat-icon [textContent]="hideConfirmPassword ? 'visibility_off' : 'visibility'"/>
        </button>
        <mat-error [textContent]="errorMessageService.genericFormError(changePasswordForm.controls.confirmPassword)"/>
      </mat-form-field>
    <div class="navigate-submit-multiple-button-space">
      <button mat-raised-button color="warn" routerLink="/view-profile">
        Zurück
      </button>
      <button type="submit" mat-raised-button color="primary" [disabled]="!changePasswordForm.valid">
        Speichern
      </button>
    </div>
  </form>
</div>