@use "src/colors";

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  border: black;
}

.result-container {
  overflow-x: scroll;
  min-width: 50vw;
}

.participant-column-title {
  position: sticky;
  left: 0;
  max-width: 10vw;
  background: #f2f2f2;
}

th > * {
  vertical-align: middle;
}

.username-result-entries {
  position: sticky;
  left: 0;
  background: white;
  max-width: 20vw;
  overflow: auto;
  scrollbar-width: thin;
}

.mat-form-field {
  max-width: 200px;
  margin-right: 15px;
}

.accepted-option {
  background: limegreen;
  color: white;
}

.maybe-option {
  background: colors.$iks-yellow;
  color: white;
}

.rejected-option {
  background: colors.$iks-red;
  color: white;
}