<mat-card *ngIf="survey">
  <mat-card-title>{{survey.name}}</mat-card-title>
  <mat-card-content>
  <p>{{survey.description}}</p>
  <div>
    <ng-template [ngIf]="willOpen()">
      <label>Offen ab: </label><input type="datetime-local" readonly [valueAsNumber]="survey.startDate"><br>
      <label>Bis: </label><input type="datetime-local" readonly [valueAsNumber]="survey.endDate">
    </ng-template>
    <ng-template [ngIf]="isOpen()">
      <label>Offen bis: </label><input type="datetime-local" readonly [valueAsNumber]="survey.endDate">
    </ng-template>
    <ng-template [ngIf]="hasClosed()">
      <label>Geschlossen seit: </label><input type="datetime-local" readonly [valueAsNumber]="survey.endDate">
    </ng-template>
  </div>
  <span>Teilnahme {{survey.openAccess ? "für Jeden" : "mit Einladung"}}{{survey.anonymousParticipation ? " anonym" :
    ""}}</span>
  </mat-card-content>
  <mat-card-actions>
  <a mat-raised-button [disabled]="!isOpen()" [routerLink]="['/survey','participate', survey.participationId]">Teilnehmen</a><br>
</mat-card-actions>
  </mat-card>