.headline {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.mat-form-field {
  width: 80vw;
  max-width: 400px;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}
