<div class="form-container">
  <h1 class="headline">Passwort zurücksetzen</h1>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="password">
      <mat-form-field appearance="fill">
        <mat-label>Neues Passwort</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [formControl]="password"
        >
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>{{ errorMessageService.genericFormError(password) }}</mat-error>
      </mat-form-field>
    </div>
    <div class="confirmPassword">
      <mat-form-field appearance="fill">
        <mat-label>Passwort wiederholen</mat-label>
        <input
          matInput
          [type]="hideConfirm ? 'password' : 'text'"
          [formControl]="confirmPassword"
          pattern="{{password.value}}"
        >
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideConfirm = !hideConfirm"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirm"
        >
          <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>{{ errorMessageService.genericFormError(confirmPassword) }}</mat-error>
      </mat-form-field>
    </div>
    <div class="submit-container">
      <button
        type="submit"
        class="submit-button"
        mat-raised-button
        color="primary"
        [disabled]="resetPasswordForm.invalid"
      >
        Bestätigen
      </button>
    </div>
  </form>
</div>
