.wrapper {
  padding: 50px;
}

.vote-button {
  margin-top: 20px;
  float: right;
}

.vote-change-button {
  margin-top: 20px;
}

.mat-list-base {
  padding: 0;
}

::ng-deep .member {
  > span {
    justify-content: space-between;
  }
}

.icon-name {
    display: flex;
    align-items: center;
}

.user-icon {
  padding-right: 10px;
}
