<div class='wrapper'>
  <h3>{{ appointmentRequest.title }}</h3>
  <div>
      <span>{{ appointmentRequest.description }}</span>
  </div>
  <div *ngIf='appointmentRequest.organizerName !== null' >
      <span>Erstellt von {{ appointmentRequest.organizerName }}</span>
  </div>
  <div *ngIf='appointmentRequest.expired'>
    <p></p>
    <span style='color: red'>Die Abstimmung ist abgelaufen. Eine Teilnahme ist nicht mehr möglich</span>
  </div>
  <div>
    <h4>Teilnehmer: {{ appointmentRequest.appointmentMembers.length }}</h4>
  </div>
  <div>
    <mat-form-field appearance='fill'>
      <mat-label>Name</mat-label>
      <input [(ngModel)]='memberName'
             matInput
             autocomplete='off'>
    </mat-form-field>
  </div>
  <div>
    <span>keine Eingaben werden als nicht Entschieden gespeichert</span>
  </div>
  <mat-list>
    <mat-list-item *ngFor='let appointment of appointmentRequest.appointments; let i = index'>
      <div mat-line  style='font-size: 90%'>{{ appointment.startDate | date:'dd.MM.yyyy':'+0200':'de' }}</div>
      <button mat-icon-button
              (click)='openDialog(appointment)'>
        <mat-icon>info</mat-icon>
      </button>
      <mat-button-toggle-group [disabled]='isVoted || appointmentRequest.expired' style='scale: 90%'>
        <mat-button-toggle (click)='setDecision(appointment, 1)'>
          <mat-icon>done</mat-icon>
        </mat-button-toggle>
<!--        <mat-button-toggle (click)='setDecision(appointment, 2)'>-->
<!--          (<mat-icon>done</mat-icon>)-->
<!--        </mat-button-toggle>-->
        <mat-button-toggle (click)='setDecision(appointment, 3)'>
          <mat-icon>close</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-list-item>
  </mat-list>
  <div>
    <button class='vote-button'
            type='submit'
            color='primary'
            mat-raised-button
            [disabled]='isVoted || appointmentRequest.expired'
            (click)='saveVote()'>Abstimmen
    </button>
  </div>
</div>
