<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Hallo!</h1><br/><br/>
<p>Wegen einer neu eingeführte Teilnahmegrenze wurde/n ihre Zustimmung/en automatisch auf Keine Antwort gesetzt.
    Sie dürfen über den unteren Link erneut teilnehmen, aber beeilen sie sich, bevor die
    mögliche Termine voll sind<a th:href="@{${link}}" th:text="hier"></a></p>
<br/><br/><br/>
<p>Vielen Dank, dass Sie drumdibum benutzen.</p>
</body>
</html>
