<div class="center">
    <h1>Änderungen</h1>
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let version of patchNotes">
      <mat-expansion-panel-header>
        <h3>{{version.releaseDate.toLocaleDateString('de')}} - Version {{version.version}}</h3>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <ul>
          <app-change-note *ngFor="let c of version.notes" [change]="c"></app-change-note>
        </ul>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>